@charset "UTF-8";
*{transition:all ease-in 0.5s;}
.container{
   padding:0;
}
.row{
   margin:0;
}
body{
   min-width:320px;
   padding-top:51px;
   background:url("../images/bg001.jpg") #ccc; 
   background-size:100%;
   background-attachment:fixed;
   font-family:;
}
/* 导航条 */
.navbar{
   margin-bottom:0;
   padding:0 15px;
}
/* 巨幅介绍 */
.huge-page{
   margin:0;
   height:100vh;
   text-align:center;
   text-shadow:0 0 10px #2af;
   background:rgba(0,0,0,0.5);
   color:#fff;
}
.huge-page h1{
   margin-top:35vh;
}
.huge-page .btn{
   width:100px;
   border:2px solid #00B16A;
   background:rgba(255,255,255,0.8); 
   color:#000;
}
.huge-page .btn:hover{
   width:200px;
   border-color:#fff;
   background:#1699EC; 
   color:#fff;
}
/* 服务功能详情 */
.service{
   width:100%;
   min-height:100vh;
   padding:15vh 0;
   background:#ccc;
   background-image: -webkit-linear-gradient(top,#4ECDC4 0,#19B5FE 100%);
   background-image: -moz-linear-gradient(bottom,#4ECDC4 0,#19B5FE 100%);
   background-image: linear-gradient(to bottom,#4ECDC4 0,#19B5FE 100%);
   color:#f1f1f1;
}
.service>.row{
   width:70%;
   margin:0 auto;
   text-align:center;
}
.service>.row>div{
   padding:30px 0;
   background:rgba(0,0,0,0.15);
}
.service>.row>div:nth-of-type(2){
   background:rgba(0,0,0,0.35);
}
.service>.row>div:nth-of-type(3){
   background:rgba(0,0,0,0.45);
}
.service>.row>div:nth-of-type(4){
   background:rgba(0,0,0,0.6);
}
.service>.row>div>h3>span{
   color:#2fc;
}
.service>.row>div>p{
   padding-left:10px;
   padding-right:10px;
}
/* 产品介绍 */
.box{
   width:100%;
}
.box>.row{
   margin:0;
   background:rgba(0,0,0,0.7);
   color:#fff;
}
.box>.row:nth-of-type(2){
   background:rgba(255,255,255,1);
   color:#333;
}
.picbox{
   border:none;
   border-radius:0;
   margin:0; 
}
.picbox>img{
   padding:0;
   margin:0;
}
.box .delepadding{
   padding:0;
}
/* 产品展示 */
.pic-contain{
   width:100%;
   padding:10vh 0;
   margin:0 auto;
   background:#ccc;
}
.pic-contain .caption{
	text-align:center;
}
.pic-contain .caption .btn{
	display:block;
}
.pic-contain img{
   height:30vh;
}
/* 联系分享 */
.share{
   width:100%;
   padding:20vh 0;
   text-align:center;
   background:#ccc;
   background-image: -webkit-linear-gradient(top,#71BA51 0%,#00B16A 100%);
   background-image: -moz-linear-gradient(bottom,#71BA51 0%,#00B16A 100%);
   background-image: linear-gradient(to bottom,#71BA51 0%,#00B16A 100%);
   color:#fff;
   text-shadow:0 0 10px #333;
}
.share h2{
	font-size:72px;
}
.share h5{
   padding:5%;
}
/* 底部 */
.foot{
   padding:5vh 0;
   margin:0;
   width:100%;
   background:rgba(0,0,0,0.7);
   color:#fff;
}
.foot form .submit:hover{
   background:#00B16A;
   color:#fff;
}
.foot .foot-info{
   margin-left:20px;
}
.foot .foot-nav{
   list-style-type:none;
}
.foot .foot-nav>li{
   display:inline-block;
}
.foot .copyright{
   text-align:center;
}
/* <=750px */
@media screen and (max-width:750px) {
   body{
      background-attachment:scroll;
      background-size:100vw 120vh;
      background-repeat:no-repeat;
   }
   .share h2{
	font-size:30px;
   }
   .foot .foot-info{
      margin-left:0;
   }

}