@charset "UTF-8";
*{padding:0;margin:0;}
html,body{width:100%;height:100%;overflow:hidden;}
body{
font-size:16px;
background:#fff;
}
.clearfix:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.calculator{
width:100%;
height:100%;
}
.screenbox{
width:100%;
height:45%;
position:relative;
}
.screen{
position:absolute;
bottom:0;
max-height:45vh;   /* 45vh */
left:0;right:0;
text-align:right;
font-size:2.5rem;
/*border:1px solid #f50;
box-sizing:border-box;*/
overflow:auto;
}
.screen>.scrollbox{
}
.screen p{
margin:10px 20px;
padding:5px 0;
word-wrap:break-word;
}
.screen p.output{
border-bottom:1px dashed #ccc;
}
.operatorbox{
width:100%;
height:55%;
}
.operatorbox>div{
float:left;
width:25%;
height:11vh;  /* 11vh */
text-align:center;
line-height:11vh; /* 11vh */
border-right:1px solid #d1d2d3;
border-top:1px solid #d1d2d3;
box-sizing:border-box;
font-size:1.2rem;
color:#666;
}
.operatorbox>div:nth-of-type(4n){
border-right:none;
}
.active{
opacity:0.3;
filter:alpha(opacity=30);
background:rgba(0,0,0,0.12);
}
.operatorbox>div.clear{
color:#d35937;
}
.operatorbox>div.equalbox{
position:relative;
}
.operatorbox>.equalbox>.equal{
position:absolute;
top:0;left:0;
right:0;
height:22vh; /* 22vh */
line-height:22vh; /* 22vh */
font-size:2rem;
background:#d35937;
color:#fff;
}
.wrong{color:#f20;}
/* pc */
@media (min-width:769px) {
	.calculator{
	width:480px;
	height:800px;
	margin:3vh auto;
	box-shadow:0 0 10px #bbb; 
	}
	.operatorbox>div{
	height:8vh;
	line-height:8vh;
	}
	.operatorbox>.equalbox>.equal{
	height:16vh;
	line-height:16vh;
	}
}
