@charset "UTF-8";
/* reset */
*{padding:0;margin:0;}
/* clear float effect */
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
/* initial */
body{font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif;background-color:#fff;color:#515151;}
a{text-decoration:none;color:#515151;}
a:hover{text-decoration:underline;color:#31a5e7;}
/* common */
.section{position:relative;overflow:hidden;}
.section>.detail-box>h1{
	margin:20px 0;
	font-size:40px;
	font-weight:400;
	text-align:center;
}
.section>.detail-box>p{
	line-height:25px;
}
/* s-header */
.s-header{
	width:1000px;
	margin:0 auto;
}
.s-header a,
.nav-fixed a{
	text-decoration:none;
}
.s-header>.h-logo,
.nav-fixed .nav-logo{
	float:left;
	padding:30px 0;
}
.s-header>.h-nav,
.nav-fixed .nav-2{
	float:right;
	list-style:none;
	margin-right:150px;
}
.s-header>.h-nav>li,
.nav-fixed .nav-2>li{
	float:left;
	margin-right:15px;
}
.s-header>.h-nav>li>a,
.nav-fixed .nav-2>li>a{
	display:block;
	padding:30px 0;
}
.s-header>.h-login{
	position:absolute;
	top:30px;right:0;
}
/* nav-fixed */
.nav-fixed{
	position:fixed;
	top:-84px;
	width:100%;
	z-index:2;
	background-color:rgba(255,255,255,0.85);
}
.nav-fixed>.center-wrap{
	width:1000px;
	margin:0 auto;
	position:relative;
}
.nav-fixed .nav-buy{
	position:absolute;
	top:50%;right:0;
	margin-top:19px;
	width:100px;
	height:36px;
	line-height:36px;
	border:1px solid transparent;
	text-align:center;
	background-color:#3db1fa;
}
.nav-fixed .nav-buy>a{
	display:block;
	height:100%;
	width:100%;
	color:#fff;
}
.nav-fixed .nav-buy:hover{
	background-color:#fff;
	border:1px solid #3db1fa;
}
.nav-fixed .nav-buy:hover>a{
	color:#3db1fa;
}
/* s-qingnian */
.s-qingnian{
	background:url("../images/bg1-s.jpg") no-repeat 50% 0;
	color:#fff;
	z-index:1;
}
.s-qingnian>.detail-box{
	position:absolute;
	left:50%;bottom:100px;
	width:350px;
	margin-left:-175px;
}
/* s-duocai */
.s-duocai{
	background:url("../images/bg2.jpg") no-repeat 50% 0;
}
.s-duocai>.detail-box{
	width:600px;
	margin:130px auto 0 auto; 
}
.s-duocai>.detail-box>p{
	text-align:center;
}
.s-duocai>.img_box{
	position:absolute;
	top:168px;
	left:50%;
	margin-top:100px;
	margin-left:-600px;
}
.s-duocai>.img_box>img.blue{
	position:absolute;
	left:-600px; /* left:230px; */ 
	width:400px;
}
.s-duocai>.img_box>img.white{
	position:absolute;
	left:2000px; /* left:480px; */
	width:500px;
}
/* s-yitihua */
.s-yitihua{
	background:url("../images/bg3-xs.jpg") no-repeat 50% 0;
}
.s-yitihua>.detail-box{
	position:absolute;
	top:100%;left:12%; /* top:60%; */
	width:400px;
}
/* s-1080p */
.s-1080p>.detail-box{
	position:relative;
	top:100px;left:12%;
	width:550px;
}
.s-1080p>.detail-box>h1{
	text-align:left;
}
.s-1080p .info-list{
	list-style:none;
	width:240px;
	margin-top:30px;
	display:none;   /* $(ele).show() */ 
}
.s-1080p .info-list>li{
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	margin-bottom:-1px;
	position:relative;
}
.s-1080p .info-list>li>h2{
	text-align:left;
	font-size:32px;
	font-weight:400;
	height:80px;
	line-height:80px;
}
.s-1080p .info-list>li>span{
	position:absolute;
	top:30px;right:0;
}
.s-1080p .info-list>li em{
	font-style:normal;
	vertical-align:super; /*上标*/
	font-size:16px;
}
.s-1080p>.img_box{
	position:absolute;
	top:100px;right:0;
	bottom:0;
}
.s-1080p>.img_box>img{
	width:900px;
	line-height:0;
}
/* s-64bitcpu */
.s-64bitcpu>.detail-box{
	width:610px;
	margin:100px auto 0 auto;
	overflow:hidden; 
}
.s-64bitcpu>.detail-box>h1{
	position:relative;
	left:100%;  /* left:0; */
}
.s-64bitcpu>.detail-box>p{
	position:relative;
	right:100%; /* right:0; */
}
.s-64bitcpu>.img_box{
	margin-top:15px;
}
.s-64bitcpu>.img_box>img{
	display:block;
	width:1000px;
	margin:0 auto;
}
/* s-dual4G */
.s-dual4G>.detail-box{
	position:absolute;
	top:50%;right:12%;
	width:500px;
	z-index:2;
}
.s-dual4G>.detail-box>h1,
.s-dual4G>.detail-box>p{
	text-align:left;
}
.s-dual4G>.img_box{
	position:absolute;
    top:4%;
    left:-264px;
    z-index:1;
}
.s-dual4G>.img_box>img{
	width:1200px;
}
.s-dual4G>.phone-card>img{
	position: absolute;
    top: 410px;
    left: 300px;
    width: 330px;
    z-index: 3;
}
.s-dual4G>.phone-card>img.cc-b{
	display:block;
}
.s-dual4G>.phone-card>img.cc-a{
	display:none;
}
/* s-1300w */
.s-1300w{
	background:url("../images/bg7-s.jpg") center 0 no-repeat;
	opacity:0.2;
	/*Alpha:opacity(20);*/
}
.s-1300w>.detail-box{
	position:absolute;
	top:50%;left:22%;
	width:460px;
}
.s-1300w>.detail-box>h1{
	text-align:left;
}
/* s-3100mah */
.s-3100mah{
	background-color:#00b4ec; 
}
.s-3100mah>.detail-box{
	position:absolute;
	top:35%;right:12%;
	width:400px;
	height:200px;
}
.s-3100mah>.detail-box>h1,
.s-3100mah>.detail-box>p{
	text-align:right; 
	position:relative;
}
.s-3100mah>.detail-box>h1{
	bottom:200%;
}
.s-3100mah>.detail-box>p{
	top:200%;
}
.s-3100mah>.img_box{
	position:absolute;
	left:-200px;
	bottom:-10px;
}
.s-3100mah>.img_box>img{
	width:1000px;
}
/* s-Android */
.s-Android{
	width:1000px;
	margin:150px auto 0 auto;
}
.s-Android>.img_box{
	position:relative;
	padding-top:30px;
	width:800px;
	margin:0 auto;
}
.s-Android>.img_box>img{
	position:absolute;
	width:310px;
	z-index:1;
	transition:all ease-out 0.5s;
}
.s-Android>.img_box>img.p2{
	left:0;
	padding-top:60px;
}
.s-Android>.img_box>img.p3{
	left:50%;
	margin-left:-155px;
	z-index:2;
}
.s-Android>.img_box>img.p1{
	right:0;
	padding-top:60px;
}
.s-Android>.img_box>img:hover{
	z-index:3;
	transform:scale(1.1);
}
/* s-footer */
.s-footer>.foot-copy>p{
	padding:30px 0;
	text-align:center;
}
.s-footer>.foot-line{
	padding:30px 0;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;	
}
.s-footer>.foot-line>.contact{
	width:1100px;
	margin:0 auto;
}
.s-footer>.foot-line>.contact>dl{
	float:left;
	width:20%;
}
.s-footer .contact>dl>dt{
	font-weight:700;
	line-height:45px;
}
.s-footer .contact>dl>dd{
	line-height:28px;
}
/* others 隐藏首尾导航圆点 */
#fp-nav>ul>li:first-of-type,
#fp-nav>ul>li:last-of-type{
	display:none;
}